$theme-colors: (
    "primary": #3f51b5,
    "secondary": #bdbdbd,
);

@import "~bootstrap/scss/bootstrap";

body{
    background-color:#bdbdbd
};
.navbar-nav{
    display:flex;
    justify-content: space-around;
}